footer{
    margin-top: 50px;
    width: 100%;
    color: whitesmoke;
    background-color: white;
    margin-left:0px ;
    margin-bottom: 20px;
    height: auto;
    margin-left: 0;
    /* border: 1px solid black; */
    /* background-color: aliceblue; */
    /* display: -; */
    /* background-color: black; */
}
.fa{
    cursor: pointer;
}
.logos{
    color: #0850B3;
}
.fh1{
    color: #0850B3;
    
}
.fa1{
    text-decoration: none;
    color: black;
}
hr{
    border: 1px solid gray;
    border-radius: 5px;
}
