footer{
    margin-top: 50px;
    width: 100%;
    color: black;
    background: linear-gradient(90deg, rgba(214, 213, 231, 1) 0%, rgba(246, 246, 246, 1) 56%, rgba(214, 213, 231, 1) 100%);
    margin-left:0px ;
    margin-bottom: 0px;
    height: 150px;
    margin-left: 0;
    /* border: 1px solid black; */
    /* background-color: aliceblue; */
    /* display: -; */
    /* background-color: black; */
}
.fa{
    cursor: pointer;
}
.logos{
    color: #0850B3;
}
.fh1{
    color: #0850B3;
    padding-top: 30px;
}
.fa1{
    text-decoration: none;
    color: black;
}
hr{
    border: 1px solid gray;
    border-radius: 5px;
}
